#title-container {
    height: 25px;
}
#search-container {
    height: 35px;
}
#search {
    width: 98%;
    margin: 0 1%;
}
#results {
    height: calc(100vh - 25px - 35px);
    overflow-y: auto;
}
#viewer {
    position: absolute;
    
    right: 0;
}