@font-face {
  font-family: DejavuSansCondensed;
  src: url("/dejavu-sans/ttf/DejaVuSansCondensed.ttf") format("truetype");
}
@font-face {
  font-family: GelasioRegular;
  src: url("/gelasio/Gelasio-Regular.ttf") format("truetype");
}
@font-face {
  font-family: CarlitoRegular;
  src: url("/carlito/Carlito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: CourierPrime;
  src: url("/CourierPrime/CourierPrime-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  background: #efefef;
  color: #666;
  text-shadow: 0 1px 0 white;
  font-family: 'DejaVuSansCondensed', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 12px;
}
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#branding {
  font-size: 10pt;
  position: fixed;
  z-index: 10000;
  bottom: 0;
  right: 0;
  margin: 0 .5% .5% 0;
}