body {
  margin: 0;
  background: #efefef;
  color: #666;
  text-shadow: 0 1px 0 white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#selector-panel{
  width:80%;
  margin:0 auto;
}

.combo-boxes{
  width: 100%;
}
#main-panel{
  width: 99vw;
  height: 99vh;
  padding: 1%;
  margin: 0;
}
#main-panel-title{
  width: 100%;
  height: 8%;
  h1 {
    margin: 0 0 0.2em;
  }
}
#main-panel-body{
  width: 100%;
  height: 92%;
}

#rViewer{
}

#rViewerDefinition{
}

.truncate {
  width: 95vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
